################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeadPrototype
/LeadPrototype/.vs/LeadPrototype
/LeadPrototype/bin/Debug/netcoreapp2.1
/LeadPrototype/obj
/LeadPrototype.Tests.Unit/bin/Debug/netcoreapp2.1
/LeadPrototype.Tests.Unit/obj
/LeadPrototype/LeadPrototype.csproj.user
