################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeadPrototype
/LeadPrototype/.vs/LeadPrototype
/LeadPrototype/bin/Debug/netcoreapp2.1
/LeadPrototype/obj
/LeadPrototype.Tests.Unit/bin/Debug/netcoreapp2.1
/LeadPrototype.Tests.Unit/obj
/LeadPrototype/LeadPrototype.csproj.user
/LeadPrototype/bin/Debug/net472
/LeadPrototype/LeadPrototype.Libs.csproj.user
/packages
/ReportGenerator/bin/Debug
/ReportGenerator/obj/Debug
/ReportGenerator/packages
/LeadPrototype.Gui/bin/Debug
/LeadPrototype.Gui/obj/Debug
/LeadPrototype.Gui/packages
/LeadPrototype.Libs/.vs
/LeadPrototype.Libs/bin/Debug
/LeadPrototype.Libs/obj
/LeadPrototype.Libs/LeadPrototype.Libs.csproj.user
